/* copyright Loho, Lorenz, Joswig, Raber & polymake team */

/* disable text selection */
*{
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

*:focus {
    outline: 0 !important;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}

body, button, select, option{
	font-size: 1.8vmin;
}



.addPoints{
	font-size: 2vmin;
}

#startScreen{
   display: flex;
	width: 100%;
	height: 80%;
}

#moreScreen, #settingsScreen, #infoScreen {
	border: solid 1px;
	position: fixed;
	background-color: hsla(0, 100%, 100%, 1);
	padding: 2vmin;
	font-weight: normal;
}

#moreScreen{
	left: 50%;
	top: 50%;
   transform: translate(-50%, -50%);
	width: 80vmin;
	min-height: 62vmin;
}

#infoScreen{
	left: 50%;
	top: 70%;
	width: 80%;
	height: 45vmin;
   overflow-x: hidden;
   overflow-y: auto;
   transform: translate(-50%, -50%);
}

.infoDiv {
   font-size: 2.5vmin;
}

#settingsScreen{
	right: 5vmin;
	top: 5vmin;
}


#startDifficultyDiv, #startNumOfPolysDiv, #startSelectLanguage{
	text-align: center;
	padding-bottom: 3em;
}

#startSelectLanguage{
	width: 100%;
}

#startDifficultyDiv{
	width: 100%;
}


#difficultyText, #startNumOfPolysText, #startSelectLanguageText{
	margin-bottom: 1.5vmin;
}

.language{
	margin: 0vmin 1vmin;
	cursor: pointer;
}


canvas, .net{
  display: block;
	/*cursor: move;*/
}

canvas{
	margin: auto;
}

.polytope{
   position: relative;
}

#gameTable{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.dropzone {
   width: 75%;
	margin: auto auto;
}

.net{
	position: relative;
	margin: auto auto;
	opacity: 0.6;
	touch-action: none;
   width: 100%;
}



.dropzone.over {
  border: 0.2vmin dashed #888;
  border-radius: 2vmin;
}


.endpoints, .endpointsWords{
	font-size: 1.5vmin;
   width: fit-content;
}


#gameOver{
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -22.5vmin 0 0 -30vmin;
	text-align: center;
	background-color: white;
	min-width: 40vw;
	min-height: 32vh;
   height: fit-content;
	border: black solid 1px;
   padding: 2vmin;
   padding-bottom: 5vh;
}

#intro{
	font-weight: normal;
	font-size: 2.5vmin;
   vertical-align: middle;
}
#startMain {
   position: fixed;
   width: 90%;
   left: 5%;
   top: 7%;
   margin-top: 0;
   margin-bottom: auto;
   height: 80%;
   display: flex;
   flex-wrap: wrap-reverse;
   gap: 2em;
   justify-content: center;
   padding-top: 5vh;
   padding-bottom: 5vh;
}
#startMainLeft {
   display: block;
   margin-top: auto;
   margin-bottom: auto;
   width: 50%;
   flex: auto;
}
#startMainRight {
   display: block;
   margin-top: auto;
   margin-bottom: auto;
   width: 40%;
   min-width: 50vmin;
   flex: auto;
}

.endpoints{
  font-style: normal;
}

#gameOverTable{
	width: 35vmin;
	margin-bottom: 5vmin;
	margin: 2vmin auto;

}

.col1, .col3{
	text-align: right;
	min-width: 11vmin;
   text-wrap: nowrap;
   width: fit-content;
}

.col2, .col4{
	margin: 0 1vmin;
}


#gameOverTable tr{
	line-height: 5vmin;
}

#container{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

select,
::picker(select) {
	border-radius: 2vmin;
   appearance: base-select;
	border: solid black 0.1vmin;
}

option:hover,
option:focus {
  background-color: hsla(208, 100%, 74%, 1);
}

select {
	border: solid black 0.1vmin;
	border-radius: 2vmin;
	padding: 0px;
	min-height: 2.9vmin;
	line-height: 2.9vmin;
}

.bordered, .difficulty, .numOfPolys{
	display: inline-block;
	height: 2.9vmin;
	line-height: 2.9vmin;
	border: solid black 0.1vmin;
	text-align: center;
}

.difficulty, .numOfPolys{
	border-radius: 100%;
}


#restartHint{
	position: fixed;
	bottom: 5.5vmin;
	text-align: center;
	left: 51%;
	transform: translate(-50%,0);
}


#checkered, .watch{
	height: 2.9vmin;
	line-height: 2.9vmin;
}

.endWatch{
	position: relative;
	right: -3.6vmin;
	top: 0.8vmin;
}

#checkered, #watch{
	display: inline-block;
}


.bordered{
	min-width: 11vmin;
	border-radius: 2vmin;
	padding-left: 10px;
	padding-right: 10px;
}

.buttonType2 {
   display: block;
   cursor: pointer;
   margin: auto;
   font-weight: bold;
   width: fit-content;
}

button.buttonType1{
	cursor: pointer;
	position: fixed;
	font-weight: bold;
}

.buttonType1, .buttonType2{
	color: white;
}
#next, #ok, #solution {
	margin: 1.5vmin;
   display: inline;
   position: initial;
}

#reset, #info {
	position: absolute;
	bottom: 0;
	margin: 1.5vmin;
}
#nextblock {
	position: absolute;
	bottom: 0;
}

#logo, #startLogo{
	position: fixed;
	font-family: "Courier New", Courier, monospace;
}

.Match, .The{
	color: hsla(155, 100%, 35%, 1);
}

.Net{
	color: hsla(208, 100%, 74%, 1);
}

#logo{
	font-size: 3.5vmin;
	left: 0vmin;
}

#startLogo{
	font-size: 6vmin;
	left: 50%;
	transform: translate(-50%, 0);
	top: 3vmin;
}


#nextblock {
  right: 0;
}

#next{
	background-color: hsla(48, 100%, 60%, 1);
}

#reset{
	left: 0;
}

#closeMoreButton, #closeSettingsButton, #ok,#startGame{
	background-color: hsla(155, 100%, 35%, 1);
}


#closeMoreButton {
   margin-top: 1em;
}


#info {
	right: 12vmin;
}

#difficultyDiv{
   display:none;
	left: 50%;
	transform: translate(-50%, 0);
}

#reset, #newGame, #solution, #more, #info {
	background-color: hsla(208, 100%, 74%, 1);
}

#startDifficulty1, #numOfPolys3 {
	background-color: hsla(208, 100%, 74%, 1);
}

#gameDifficulty1{
	background-color: hsla(0, 0%, 75%, 1);
}

#bestScore{
   display: inline;
   margin-left: 1em;
}

#points {
   margin-right:auto;
}
#rounds{
	right: 3vmin;
   margin-left: auto;
}

#points, #rounds,  #logo {
	position: fixed;
	top: 0;
	margin: 1.5vmin;
}

#timeDiv, #roundDiv {
   display: inline-block;
}

#points{
	left: 26vmin;
}

#bestScore{
	left: 45vmin;
}


#roundNumber, #timeNumber{
	margin-left: 2.9vmin;
}

.arrow{
	margin: auto;
	padding: 3vmin 0;
	opacity: 0.5;
	cursor: pointer;
}

.equal{
	height: 1.5vmin;
	opacity: 0.7;
}



#numPoints, #numBestScore{
	margin-left: 0.5vmin;
}

#scoreWord, #bestScoreWord, #numPoints, #reset, #nextblock, #newGame, #settingsButton, #info {
	display: inline-block;
}

#watch, #checkered{
	float: left;
}

#roundNumber, #timeNumber{
	display: block;
}

#settingsOkButton{
	width: 4vmin;
	height: 2vmin;
}

#settingsButton{
	width: 2.5vmin;
	height: 2.5vmin;
	opacity: 0.1;
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	margin: 1vmin;
}



.difficulty, .numOfPolys{
	width: 2.9vmin;
	margin: 0 0.5vmin;
}

.startDifficulty, .numOfPolys{
	cursor: pointer;
}

#difficultyTextEasy, #difficultyTextDifficult{
	line-height: 2.9vmin;
}

#congrats{
	color: hsla(118,80%,40%,1);
	font-size: 3vmin;
}

#completedGame{
	font-size: 2.5vmin;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

#copyright{
	position: fixed;
	bottom: 0;
	right: 0;
	font-weight: normal;
	font-size: 1.8vmin;
}

.background{
	position: fixed;
	opacity: 0.2;
   width: 100%;
}

.startScreenImg{
	position: fixed;
	opacity: 0.1;
	width: 25vmin;
	transform: translate(-50%, -50%);
}

#startImgFolded1{
	left: 13%;
	top: 13%;
}

#startImgNearlyFolded1{
	left: 37%;
	top: 35%;
}

#startImgHalfFolded1{
	left: 60%;
	top: 15%;
}

#startImgNet1{
	left: 85%;
	top: 38%;
}

#startImgHalfFolded2{
	left: 15%;
	top: 65%;
}

#startImgNet2{
	left: 40%;
	top: 80%;
}

#startImgFolded2{
	left: 60%;
	top: 55%;
}

#startImgNearlyFolded2{
	left: 80%;
	top: 85%;
}

.infoBox{
	position: absolute;
    padding: 10px;
    min-width: 16vmin;
    max-width: 80%;
    color: #333;
    border-radius: 10px;
    font-size: small;
    background: white;
   bottom: 3vmin;
   left: 8vmin;
    z-index: 100;
   transform: translate(0%, 100%);
   overflow-x: hidden;
   overflow-y: auto;
	border: solid 1px;
}

.infoHint {
	position: absolute;
   bottom: 3vmin;
   left: 3vmin;
}
.infoHint img {
	opacity: 0.3;
}

#infoIcon {
   width: 4vmin;
	cursor: pointer;
}

#dragHint{
	position: fixed;
	opacity: 0.3;
}

#dragIcon{
	width: 5vmin;
}

a{
	cursor: pointer;
}

#controlsZoomSpeed, #controlsRotationSpeed{
	width: 20vmin;
}


#controlsZoomSpeed, #controlsZoomEnabled, #controlsRotationSpeed, #hideCursor{
	margin-left: 2vmin;
}

#controlsText, #mouseText{
	line-height: 4vmin;
}
